@tailwind base;
@tailwind components;

::-webkit-input-placeholder {
    margin: auto;
    padding: 20%;
    font-size: 6em;
    text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  margin: auto;
  padding: 20%;
  font-size: 6em;
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  margin: auto;
  padding: 20%;
  font-size: 6em;
  text-align: center;
}

:-ms-input-placeholder {
    margin: auto;
    padding: 20%;
    font-size: 6em;
    text-align: center;
}

@tailwind utilities;
